.__badge_profile {
    display: flex;
    padding: .5rem;
    gap: 1rem;
    align-items: center;
}

.__avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #EEEEEE;
}