.__main_home_view {
    width: 100%;
    padding: 1rem 2rem;
    height: calc(100dvh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
}

.__row_shortcuts {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.__row_charts {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.__row_chart_wrap {
    width: 100%;
    gap: 1rem;
    display: flex;
}

.__row_charts_group {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: row;
}