.__card_chart {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #CCCCCC;
}

.__card_chart_bg {
    max-width: 336px;
    background-color: var(--white);
}

.__card_chart .__line {
    width: 100%;
    height: 1px;
    margin: .5rem 0rem;
    background-color: #CCCCCC;
}